{{>header}}
{{>banner}}
<div class="container">
  <h1>Listado de Personas</h1>

  {{>btnInsertar}}
  {{>buscarP}}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <th>{{id}}</th>
        <td>{{nombre}}</td>
        <td>{{correo}}</td>
        <td>{{contrasena}}</td>
        <td><a href="/eliminar/{{id}}" class="btn btn-primary">Eliminar</a></td>
        <td><a href="/editar/{{cc}}" class="btn btn-primary">Editar</a></td>
      </tr>
      {{/each}}
    </tbody>
</div>
<footer>
  {{>footer}}
</footer>